/* src/components/ModelViewer.css */
.model-container {
    width: 100%;
    height: 500px; /* Đặt chiều cao 500px cho khung 3D */
    background-color: #e0e0e0; /* Một màu nền xám nhạt */
    border-radius: 8px;
    margin-bottom: 20px;
  }